<h1 class="foundation-heading"> My Wishlists</h1>
<div class="products-container">
  <% @favourites.each do |item| %>
    <div class="products-card">
        <div class="image-price">
          <%= image_tag item.sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
          <p class="price">$<%= item.sub_product.product.price %></p>
        </div>
      <div class="product-content">
        <h5 class="brand-name"> <%= item.sub_product.product.brand_name %> </h5>
        <p> <%= item.sub_product.product.name %> </p>
        <p> <%= item.sub_product.product.description.first(50) %> </p>
      </div>
        <div class="justify-content-around">
          <%= link_to "Delete", favourite_path(item), data: { turbo_method: :delete } %>
        </div>

        <div class="justify-content-around">
          <p class="my-button link-button"><%= link_to "Add to cart", order_product_custom_create_path(subproduct: item.sub_product_id), data: { turbo_method: :POST } %></p>
        </div>
    </div>
  <% end %>
</div>
