<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-navbar-target="navbar" data-action="scroll@window->navbar#scrollAxis">
  <div class="container-fluid">
    <div class="d-flex">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", class: "img-logo" %>
      <% end %>
 <%= render "shared/color_dropdown" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse me-3" id="navbarSupportedContent" style="font-weight: 600;">
    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto gap-3">
        <li>
          <%= form_with url: products_path, method: :get, class: "d-flex" do %>
            <%= image_submit_tag("suche.png", class: "search-img") %>
            <%= text_field_tag :query,
                               params[:query],
                               class: "form-control",
                               placeholder: "" %>
          <% end %>
        </li>
      </ul>
          <li class="nav-item dropdown gap-3">
            <% if current_user.pic.attached? %>
              <%= cl_image_tag current_user.pic.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "All Foundations", products_path, class: "dropdown-item" %>
              <%= link_to "Favourites", favourites_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
              </div>
            <div class="shoppingcard_image_container">
              <% cart_items_count = current_user.order_products.sum(:quantity) %>
              <% if cart_items_count > 0 %>
              <div class="shoppingCardCirle" data-cart-target="shoppingCartCircle" style="display: block">
                <h6> <%= cart_items_count %> </h6>
              </div>
            <% end %>
            <%= link_to order_products_path do %>
            <%= image_tag "shopping-cart.png", class: "nav-cart" %>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%= link_to "Sign UP", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </div>
</div>
