<h1 class="foundation-heading"> Orders</h1>
<div class="products-container">
  <% @orders.each do |item| %>
    <div class="products-card">
        <div class="heart-icon">
          <%= image_tag "heart.png" %>
        </div>
        <div class="image-price">
          <%= image_tag item.sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
          <p class="price">$<%= item.price %></p>
        </div>
      <div class="product-content">
        <h5 class="brand-name"> <%= item.sub_product.product.brand_name %> </h5>
        <p> <%= item.sub_product.product.name %> </p>
        <p> <%= item.sub_product.product.description.first(50) %> </p>
        <p> Quantity: <%= item.quantity %></p>
      </div>
      <p><%= item.status %></p>
      <% if item.status == "ORDERED" %>
        <div class="justify-content-around">
          <%= link_to "Cancel", order_path(item), data: { turbo_method: :patch } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
