<%= render "banner" %>

  <h2 class="home-heading"> Our New Arrivals </h2>
  <div class="products-container">
  <% @products.first(3).each do |product| %>
      <div class="products-card">
        <div class="heart-icon">
          <%= image_tag "heart.png" %>
        </div>
        <div class="image-price">
          <%= link_to sub_product_path(product.sub_products[0]) do %>
          <%= image_tag product.sub_products[0].img_main, alt: "foundation images" %>
          <% end %>
          <p class="price">$<%= product.price %></p>
        </div>
        <div class="product-content">
          <h5 class="brand-name"> <%= link_to product.brand_name, sub_product_path(product.sub_products[0]) %> </h5>
          <p> <%= product.description.first(100) %> </p>

        </div>
        <div class="d-flex justify-content-around">
          <p class="my-button"> <%= link_to "Choose your shade", sub_product_path(product.sub_products[0]) %></p>
        </div>
      </div>
  <% end %>
</div>

  <div class="discover-more">
    <%= link_to "Discover More", products_path(@product) %>
  </div>

<h1 class="home-heading">HOW IT WORKS</h1>
<div class="home-cards-container">
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "logo.png" %>
      <h3>Select your Skin Tone</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "shade-2.png" %>
      <h3>Match the Shade</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "shopping-cart.png" %>
      <h3>Add to Cart</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "sent.png" %>
      <h3>Make an Order</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
</div>
