<%= render "banner" %>

  <h2 class="home-heading"> Our New Arrivals </h2>
  <div class="products-container-home">
  <% @products.first(3).each do |product| %>
      <div class="products-card">
      <div>
        <div class="image-price">
          <%= link_to sub_product_path(product.sub_products[0]) do %>
          <%= image_tag product.sub_products[0].img_main, alt: "foundation images" %>
          <% end %>
          </div>
          <div class='d-flex w-100 justify-content-center'> <div class="price-product"><p>$<%= product.price %></p></div></div>
        </div>
        <div class="product-content">
          <h5 class="brand-name"> <%= link_to product.brand_name, sub_product_path(product.sub_products[0]) %> </h5>

        </div>
        <div class="d-flex justify-content-around">
          <p class="my-button"> <%= link_to "Choose your shade", sub_product_path(product.sub_products[0]) %></p>
        </div>
      </div>
  <% end %>
</div>

  <div class="discover-more">
    <%= link_to "Discover More", products_path(@product) %>
  </div>
<h1 class="home-heading">How It Works</h1>
<div class="home-cards-container">
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "facemakeup.png" %>
      <h3>Uploading Your Picture</h3> </div> <p>To get started with our makeup shade matching service, simply click on the "Start" button on our homepage. You will be taken to a page where you can upload a clear picture of your face. The picture should be taken in good lighting and in focus so that our advanced image recognition technology can accurately analyze your skin tone and recommend the perfect makeup shade or foundation for you</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "blush.png" %>
      <h3>Choosing Your Shade</h3>
    </div>
    <p>Once you have uploaded your picture, you will be taken to our product page where you can see a range of makeup shades and foundations that match your skin tone. You can compare these shades to your uploaded picture to see which one looks the best on you. Multiple shades are available for each product, so you can find the perfect match for your skin</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "cart.png" %>
      <h3>Add to Cart</h3>
    </div>
    <p>Once you have found a shade that matches your skin tone, you can add the product to your cart or wishlist. If you're not ready to make a purchase just yet, you can save the product to your wishlist and come back to it later. If you're ready to buy, simply add the product to your cart and proceed to checkout</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "package.png" %>
      <h3>Purchasing and Delivery</h3>
    </div>
    <p>When you're ready to purchase your products, simply click on the checkout button in your cart. You can pay securely using our payment gateway and your products will be shipped to your doorstep. Our app provides a hassle-free shopping experience, allowing you to browse, compare, and purchase products that match your skin tone all in one place.</p>
  </div>
</div>

<div class="partners">
<h1 class="home-heading">Our Partners</h1>
<div class="partners-images">
<%= image_tag "it-cosmetics-logo.png" %>
<%= image_tag "make-up-forever-logo.jpg" %>
<%= image_tag "kvd-beauty-logo.jpg" %>
</div>
</div>
