<%= render "banner" %>
<h1 class="home-heading">HOW IT WORKS</h1>
<div class="home-cards-container">
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "logo.png" %>
      <h3>Select your Skin Tone</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "shade-2.png" %>
      <h3>Select your Skin Tone</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "shopping-cart.png" %>
      <h3>Select your Skin Tone</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
  <div class="home-card">
    <div class="home-card-header">
      <%= image_tag "sent.png" %>
      <h3>Select your Skin Tone</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quidem magnam ipsum iste consequuntur neque sint ut quas vel! Mollitia veniam dolore minima facilis illo, eligendi rerum consequuntur officiis laborum!</p>
  </div>
</div>
