<h1 class="foundation-heading"> Foundations for Your Skin Tone</h1>
<div class="products-container">
  <% @sub_products.shuffle.each do |sub_product| %>
      <div class="products-card">
          <div class="heart-icon">
            <%= image_tag "heart.png" %>
          </div>
          <div class="image-price">
          <%= link_to sub_product_path(sub_product) do %>
            <%= image_tag sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
            <% end %>
          </div>
           <div class='d-flex w-100 justify-content-center'> <div class="price-product"><p>$<%= sub_product.product.price %></p></div></div>

        <div class="product-content">
          <h5 class="brand-name"> <%= sub_product.product.brand_name %> </h5>
          <p> <%= sub_product.product.name %> </p>
          <p> <%= sub_product.product.description.first(50) %> </p>
        </div>

       <div class="products-button">
          <p class="my-button button-color"><%= link_to "Add to Cart", order_product_custom_create_path(subproduct: sub_product), data: { turbo_method: :POST }, 'data-turbolinks-scroll': false  %></p>
        </div>
    </div>
<% end %>
</div>
