
<h1 class="foundation-heading"> Foundations for Your Skin Tone</h1>
<div class="products-container">
<% @sub_products.shuffle.each do |sub_product| %>
  <%= link_to sub_product_path(sub_product) do %>
    <div class="products-card">
        <div class="heart-icon">
          <%= image_tag "heart.png" %>
        </div>
        <div class="image-price">
          <%= image_tag sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
          <p class="price">$<%= sub_product.product.price %></p>
        </div>
      <div class="product-content">
        <h5 class="brand-name"> <%= sub_product.product.brand_name %> </h5>
        <p> <%= sub_product.product.name %> </p>
        <p> <%= sub_product.product.description.first(50) %> </p>
      </div>

       <div class="justify-content-around">
          <p class="my-button button-color">Add to cart</p>
          <p class="my-button button-color">Buy</p>
        </div>
    </div>
  <% end %>
<% end %>
</div>
