<h2 class="product-heading foundation-heading"><%= @product.brand_name %></h2>
<div class="product-card-container">
  <div class="card-product">
    <div class="card-product-details">
      <div class="show-product-image">
        <%= image_tag @sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
      </div>
      <div class="product-info">
        <div class="show-product-card">
          <% if !current_user.favourites.where(sub_product_id: @sub_product).exists? %>
            <div class="heart-icon">
              <%= link_to image_tag("heart.png"), favourites_path(sub_product: @sub_product), data: { turbo_method: :POST }, 'data-turbolinks-scroll': false %>
            </div>
          <% else %>
            <div class="heart-icon">
              <%= link_to image_tag("like.png") %>
            </div>
          <% end %>
          <div class="card-product-infos">
            <div>
              <h4> <%= @product.name %> </h4>
              <p>Shade : <%= @sub_product.name %> </p>
              <p> <%= @product.description %> </p>
              <p>Rating : <%= @product.rating %> </p>
            </div>
          </div>
        </div>
        <div class="product-price">
          <div class="products-button">
            <p class="my-button link-button">
              <%= link_to "Add to Cart", order_product_custom_create_path(subproduct: @sub_product), data: { turbo_method: :POST }, 'data-turbolinks-scroll': false %>
            </p>
          </div>
          <div class="show-price">
            <p class="show-price-tag">$<%= @product.price %></p>
          </div>
        </div>
      </div>
    </div>

    <ul class="color-shades">
      <% @product.sub_products.each do |sub| %>
        <%= link_to sub_product_path(sub) do %>
          <li style="background-color: <%= sub.shade_hex %>;"> </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
