<h2><%=@product.brand_name %></h2>
<div>
  <%= image_tag @sub_product.img_main, class: "card-img-top", alt: 'fun' %>
  <div>
    <h6> <%= @product.name%> </h6>
    <h6> <%= @sub_product.name%> </h6>
    <p> <%= @product.description%> </p>
    <p> <%= @product.price %> </p>

  </div>
</div>
<ul>
  <% @product.sub_products.each do |sub| %>
    <%= link_to sub_product_path(sub) do %>
      <li style="margin: 5px; height: 40px; width: 40px; background: <%= sub.shade_hex %>;"> </li>
    <% end %>
  <% end %>
</ul>
<P>REVIEWS</P>
