<h1 class="foundation-heading"> Select your shade </h1>

<div class="image-color-selector-container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div id="color-selector"></div>
      <% if current_user.pic.attached? %>
        <%= image_tag current_user.pic, alt: "user-image", class: "img-color" %>
      <% else %>
        <%= image_tag ("user.png"), class: "user-image-placeholder" %>
      <% end %>
    </div>
    <div class="col-md-4">
      <ul id="shade-pick">
        <% @color_shades.each do |shade| %>
          <%= link_to color_shade_sub_products_path(shade) do %>
            <li class="shade-block shade-tooltip" style="background: <%= shade.shade_hex %>;">
              <span class="tooltiptext"> <%= shade.shade_name %> </span>
            </li>
          <% end %>
        <% end %>
      </ul>
      <div>
        <%= simple_form_for :this_user, url: "color_shades", html: { class: "form-upload" } do |f| %>
        <%= f.input :pic, as: :file, direct_upload: true, input_html: { class: "d-none" }, label_html: { class: "upload-photo" }, label: "📷 Upload a photo" %>
        <%= f.submit "Upload", class: "btn btn-dark button-black" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
