<h1 class="foundation-heading"> Shopping Bag</h1>
<div class="products-container-cart">
  <% @cart.each do |item| %>
    <div id="order-product-<%= item.id %>" class="products-card-card">
      <%= image_tag item.sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
      <div class="product-content">
        <div class="d-flex">
          <h5 class="brand-name"> <%= item.sub_product.product.brand_name %> </h5>
        </div>
        <p> <%= item.sub_product.product.name %> </p>
        <p class="d-flex"> Shade: <%= item.sub_product.color_shade.shade_name %> </p>
        <div class="d-flex align-items-center">
          <%= simple_form_for item, html: { 'data-turbolinks-scroll': false } do |f| %>
            <%= f.hidden_field :quantity, value: item.quantity - 1 %>
            <%= f.submit "-", class: "quantity-btn" %>
          <% end %>
          <span class="quantity-btn"><%= item.quantity %></span>

          <%= simple_form_for item, html: { 'data-turbolinks-scroll': false } do |f| %>
            <%= f.hidden_field :quantity, value: item.quantity + 1 %>
            <%= f.submit "+", class: "quantity-btn" %>
          <% end %>

          <div class="delete-link-button">
            <%= link_to  image_tag("delete.png"), order_product_path(item), data: { turbo_method: :delete } %>
          </div>
        </div>
      </div>
      <div class="cart-price">
        <span class="price">$<%= item.sub_product.product.price * item.quantity %></span>
      </div>
    </div>
  <% end %>
  <div class="cart-button">
    <% if @cart.exists? %>
      <div class="my-button link-button w-100 mt-4">
        <%= link_to "Make Payment", payment_path %>
      </div>
    <% else %>
      <div class="empty-cart">
        <%= image_tag "empty_cart.png" %>
      </div>
      <div class="my-button link-button w-100 mt-4">
        <%= link_to "Go Shopping", products_path, class: "w-100" %>
      </div>
    <% end %>
  </div>
</div>
