<h1 class="foundation-heading"> Shopping Bag</h1>
<div class="products-container">
  <% @cart.each do |item| %>
    <div class="products-card">
        <div class="heart-icon">
          <%= image_tag "heart.png" %>
        </div>
        <div class="image-price">
          <%= image_tag item.sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
          <p class="price">$<%= item.sub_product.product.price * item.quantity %></p>
        </div>
      <div class="product-content">
        <h5 class="brand-name"> <%= item.sub_product.product.brand_name %> </h5>
        <p> <%= item.sub_product.product.name %> </p>
        <p> <%= item.sub_product.product.description.first(50) %> </p>
        <p> Quantity: <%= item.quantity %></p>
      </div>

        <div class="justify-content-around">
          <%= link_to "Delete", order_product_path(item), data: { turbo_method: :delete } %>
        </div>
    </div>
  <% end %>
</div>

<div class="justify-content-around">
  <p class="my-button link-button"><%= link_to "Buy", orders_path, data: { turbo_method: :POST } %></p>
</div>
<%= link_to "orders", orders_path%>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Pyament info</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
