<h1 class="foundation-heading"> Shopping Bag</h1>
<div class="products-container-cart">
  <% @cart.each do |item| %>
    <div id="order-product-<%= item.id %>" class="products-card-card">
      <%= image_tag item.sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
      <div class="product-content w-100">
        <div class="d-flex justify-content-between w-100">
          <h5 class="brand-name"> <%= item.sub_product.product.brand_name %> </h5>
          <div class="my-button link-button">
          <%= link_to "Delete", order_product_path(item), data: { turbo_method: :delete } %>
          </div>
        </div>
        <p> <%= item.sub_product.product.name %> </p>
        <p> Shade: <%= item.sub_product.color_shade.shade_name %> </p>
        <div class="d-flex align-items-center">
        <div class="d-flex align-items-center">
        <%= simple_form_for item, html: { data: { turbo: false } } do |f| %>
          <%= f.hidden_field :quantity, value: item.quantity - 1 %>
          <%= f.submit "-", class: "quantity-btn" %>
        <% end %>
        <span class="quantity-btn"><%= item.quantity %></span>

        <%= simple_form_for item, html: { data: { turbo: false } } do |f| %>
          <%= f.hidden_field :quantity, value: item.quantity + 1 %>
          <%= f.submit "+", class: "quantity-btn" %>
        <% end %>
      </div>
        <div class="image-price mx-4">
          <span class="price">$<%= item.sub_product.product.price * item.quantity %></span>
        </div>
      </div>
      </div>
    </div>
  <% end %>
  <div class="my-button link-button w-100 mt-4">
    <%= link_to "Buy", orders_path, data: { turbo_method: :POST }, class: "w-100" %>
  </div>

  <%#= link_to "orders", orders_path%>
  </div>
</div>
<%= link_to "orders", orders_path%>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Pyament info</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
