<h1 class="foundation-heading"> Shopping Bag</h1>
<div class="products-container">
  <% @cart.each do |item| %>
    <div class="products-card">
        <div class="heart-icon">
          <%= image_tag "heart.png" %>
        </div>
        <div class="image-price">
          <%= image_tag item.sub_product.img_main, class: "card-img-top", alt: "foundation image" %>
          <p class="price">$<%= item.sub_product.product.price * item.quantity %></p>
        </div>
      <div class="product-content">
        <h5 class="brand-name"> <%= item.sub_product.product.brand_name %> </h5>
        <p> <%= item.sub_product.product.name %> </p>
        <p> <%= item.sub_product.product.description.first(50) %> </p>
        <p> Quantity: <%= item.quantity %></p>
      </div>

        <div class="justify-content-around">
          <%= link_to "Delete", order_product_path(item), data: { turbo_method: :delete } %>
        </div>
    </div>
  <% end %>
</div>

<div class="justify-content-around">
  <p class="my-button link-button"><%= link_to "Buy", orders_path, data: { turbo_method: :POST } %></p>
</div>
<%= link_to "orders", orders_path%>
