<h1 class="foundation-heading"> Place Your Order</h1>
<div class="payment-container d-lg-flex">
  <div class="box-1 bg-light user">
    <div class="box-inner-1 pb-3 mb-3 ">
      <div class="d-flex justify-content-between mb-3 userdetails">
          <p class="fw-bold">Cart Products</p>
      </div>
      <div class="radiobtn">
        <% @cart.each do |item| %>
          <label class="box py-2">
            <div class="d-flex align-items-start">
              <div class="d-flex align-items-center mb-3">
                <%= image_tag item.sub_product.img_main,  class: "pic rounded-circle"%>
              </div>
              <div class="course">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <span class="fw-bold">
                    <%= item.sub_product.product.name %>
                  </span>
                  <span class="fas fa-euro-sign"> <%= item.sub_product.product.price * item.quantity %> </span>
                </div>
                <span> <p>Quantity: <%= item.quantity  %></span></p>
              </div>
            </div>
          </label>
        <% end %>
      </div>
    </div>
  </div>
  <div class="box-2">
    <div class="box-inner-2">
      <div>
        <p class="fw-bold">Payment Details</p>
        <p class="dis mb-3">Complete your purchase by providing your payment details</p>
      </div>
      <form action="">
        <div class="mb-3">
          <p class="dis fw-bold mb-2">Email address</p>
          <input class="form-control" type="email" value= <%= current_user.email%>>
        </div>
        <div>
          <p class="dis fw-bold mb-2">Card details</p>
          <div class="d-flex align-items-center justify-content-between card-atm border rounded">
            <div class="fab fa-cc-visa ps-3"></div>
            <input type="text" class="form-control" placeholder="Card Details">
            <div class="d-flex w-50">
              <input type="text" class="form-control px-0" placeholder="MM/YY">
              <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV">
            </div>
          </div>
            <div class="my-3 cardname">
              <p class="dis fw-bold mb-2">Cardholder name</p>
              <input class="form-control" type="text">
            </div>
            <div class="address">
              <p class="dis fw-bold mb-3">Billing address</p>
              <select class="form-select" aria-label="Default select example">
                <option selected hidden>Germany</option>
                <option value="2">Austria</option>
                <option value="3">France</option>
              </select>
              <div class="d-flex">
                <input class="form-control zip" type="text" placeholder="ZIP">
                <input class="form-control state" type="text" placeholder="State">
              </div>
              <div class=" my-3 d-flex flex-column dis">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <p>Subtotal</p>
                  <p><span class="fas fa-dollar-euro"></span><%= @sub_total %></p>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <p>VAT<span>(<%= @vat %>%)</span></p>
                    <p><span class="fas fa-dollar-euro"></span><%= @vat_amount %></p>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <p class="fw-bold">Total</p>
                    <p class="fw-bold"><span class="fas fa-dollar-euro"></span>
                      <%= @total %>
                    </p>
                </div>
                <%= link_to orders_path, data: { turbo_method: :POST } do %>
                  <div class="btn btn-primary mt-2" id="pay">Pay<span class="fas fa-dollar-euro px-1"></span>
                    <%= @total %>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
